img.dialog-image {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  &.hide {
    display: none;
  }
}

.header {
  text-align: center;

  .game-title {
    font-family: 'Balonku';
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;
  }
}

.game-board {
  margin-top: 25px;
}