
@keyframes travel {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

@keyframes roleRight {

  from {
    transform: rotate(0deg) translate(0) rotate(0deg);
  }

  to {
    transform: rotate(360deg) rotate(-360deg);
  }
}

@keyframes roleEyes {

  from {
    transform: rotate(0deg) translate(-3px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(-3px) rotate(-360deg);
  }
}

@keyframes expand-bounce {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.animation {
  padding: 25px;
  position: relative;
  #stage {
    position: relative;
    width: 50%;
    height: 50px;
  }

  #traveler {
    position: absolute;
    width: 20px;
    height: 50px;

    animation-name: travel;
    animation-iteration-count: 1;
    animation-duration: 3.5s;

    &.position-center {
      left: 100%;
    }
  }

  #bouncer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #11998e;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    &:before {
      content: '';
      display: inline-block;
      width: 40%;
      border-radius: 50%;
      height: 40%;
      background: white;
      margin: 35% auto;
      margin-left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &:after {
      position: absolute;
      content: '';
      width: 6px;
      border-radius: 3px;
      height: 6px;
      background: black;
      top: 15px;
      left: 22px;
    }

    &.move {
      animation-name: roleRight;
      animation-iteration-count: 1;
      animation-duration: 3.5s;
    }

    &.iddle {
      left: 100%;

      &:after {
        animation-name: roleEyes;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }

  .game-dialog {
    position: absolute;
    transform-origin: 0% 100%;
    text-align: center;
    background-color: #aa2929;
    color: white;
    border-radius: 10px;
    width: auto;
    max-width: 250px;
    padding: 10px;
    left: calc(50% + 50px);
    top: -50px;
    transform: scale(0);
    animation-fill-mode: forwards;

    &:before {
      content: "";
      display: block;
      width: 0;
      position: absolute;
      bottom: -25px;
      left: 5px;
      border-style: solid;
      border-width: 15px;
      border-color: #aa2929 transparent transparent #aa2929;
      transform: rotate(10deg);
    }

    &.open {
      animation-name: expand-bounce;
      animation-duration: 0.25s;
    }

    &.close {
      animation-name: shrink;
      animation-duration: 0.1s;
    }
  }
}
